.card .card-header .btn:not(.note-btn) {
    border-radius: 0.25rem;
}

.product-item .product-image {
    margin-bottom: 0px;
}

.product_image {
    border-radius: 5px;
    height: 100%;
    width: auto;
}
